* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  padding: 0 16px;
  margin: auto;
}
.navbar {
  padding: 10px 0;
  background-color: rgb(1, 102, 80);
  color: #ffffff;
}

.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://images.unsplash.com/photo-1522204523234-8729aa6e3d5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
}
.react-blog {
  font-size: 70px;
  font-weight: 900;
  /* position: absolute; */
  top: 10rem;
  color: rgb(1, 102, 80);
}
.react-blog-1 {
  font-size: 70px;
  font-weight: 900;
  position: absolute;
  top: 22rem;
  left: 60rem;
  color: rgb(9, 100, 116);
}
